#profile-pic {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

#description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

#aboutSec {
    width: 500px;
    background-color: lightgray;
}

h2 {
    color: maroon;
    font-size: 25pt;
}